body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 245, 245);
}

.header {
    background-color: rgb(248, 245, 245);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
  font-size: xx-large;
  font-style:italic;
}

.logo {
  padding: 5px;
  margin: 30px;
  justify-items: 30px;
}

 .statement{
    text-align: center;
    font-size: medium;
    font-style: inherit;
 }

.header .searchbar {
    display: flex;
    align-items: right;
}

.header .searchbar input {
    padding: 10px;
    width: 250px;
}

.header .login {
    padding: 5px 10px;
    color: #141212;
    text-decoration: none;
}

.items {
    background-color: #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-content {
    padding: 0px;
}
.logo {
  text-align: left;
  padding-left: 10px;
}

.about-us {
    background-color: #188181;
    color: rgb(248, 245, 245);
    padding:10px;
    text-align: center;
}

.view-all {
    text-align: center;
    margin-bottom: 20px;
}

.image-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-grid img {
    width: 12%;
    margin-bottom: 30px;
}

.query-section {
    text-align: center;
    margin: 20px 0;
}

.query-section button {
    padding: 10px 20px;
}

.footer {
    background-color: #ccc6c6;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  

   